 .box {
        background-color: #FFFFFF;
        width: 400px;
        height: 900px;
        margin: 7em auto;
        border-radius: 1.5em;  
	}
.font {
        padding-top: 30px;
        color:grey;
        font-weight: bold;
        font-size: 22px;
    }


sign {
        padding-top: 40px;
        color: grey;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
.un {
    width: 75%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.02);
    outline:none;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: Arial, Helvetica, sans-serif;
    }
.en{
	height: 100%;
    width: 75%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
   padding: 30px 20px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.02);
    outline:none;
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: Arial, Helvetica, sans-serif;
    }
.en:focus{
        border: 5px solid rgba(52,73,94, 0.15) !important;
        
    }

 .un:focus{
        border: 5px solid rgba(52,73,94, 0.15) !important;
        
    }
.submit {
       cursor: pointer;
        border-radius: 10em;
        color: #fff;
        background: grey;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 15px;
        
    }
    
.forgot {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        padding-top: 15px;
    }
    
 .heading{
        font-weight: bold;
        cursor: pointer;
        border-radius: 15em;
        color: white;
        background: #3B3E40;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Windows', timesnewroman;
         margin-left: 6.5%;
        font-size: 20px;

 } 
 .form1{
    padding-right: 40px;
 } 
 .background{
    background-image: url("../static/bg4.jpg");
    height:100%;
    background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;

 }
 .logo {
    height:auto;
    width:auto;
    position:absolute;
    top:10px;
    left:10px;
    border: 10px solid transparent;
}