*{
	margin: 0;
	padding: 0;

}
nav{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #fff;
}
nav p{
	font-family: timesnewroman;
	color: #222;
	font-size: 24px;
	line-height: 55px;
	float: left;
	padding: 0px 20px;
	border-radius: 15em;
	color: white;
	font-weight: bold;
	background: grey;


}
nav ul{
	float: left;
}

nav ul li{
	float: left;
	list-style: none;
	position: relative;

}

nav ul li a{
	display: block;
	font-family: timesnewroman;
	color: #222;
	font-size: 19px;
	padding: 22px 14px;
	text-decoration: none;
}

nav ul li ul{
	display: none;
	position: absolute;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
}

nav ul li:hover ul{
	display:block;
}
nav ul li ul li{
	width: 70px;
	border-radius: 4px;
}
nav ul li ul li a{
	padding: 8px 14px;
}

nav ul li ul li a:hover{
	background-color:#f3f3f3;
}
.footer { 
            position: fixed; 
            padding: 10px 10px 0px 10px; 
            bottom: 0; 
            width: 100%; 
            /* Height of the footer*/  
            height: 50px; 
            background:grey; 
            font-family: timesnewroman;
        } 

 /**{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}*/

/* Create two equal columns that floats next to each other */
/*.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}
*/
 /*Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}*/
/*.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.column img {
  margin-top: 12px;
}*/

/* Clear floats after the columns */
/*.row:after {
  content: "";
  display: table;
  clear: both;
}*/

/*.rr{
  background-image: url('../static/bg4.jpg');
}*/